@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Roboto&family=Roboto+Slab:wght@700&display=swap");

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
